.slider-container {
    padding: 2%;
    margin: 0;
    display: inline-block;
    width: 15%;
}
.slider-label {
    margin: auto;
    text-align: center;
}
.slider-image {
    margin: auto;
}
.slider {
    padding: 0;
    margin: 0;
    width: 100%;
}
#equity-container {
    padding:1%;
}

#equity-value {
    font-size: 3em;
}

@media screen and (max-width: 600px) {
    .slider-container {
    width: 100%;
    }
}